
include ../mixins
block CONTENT
    :go:func
        Welcomeannounceindex(c ViewContainer)

    #edit-collapse(data-parent='#accordion')

        +titleicon(iconitem="information-outline" label="welcomeannounce_text_title")

        form#welcomeannounce
          
            .form-group.row
                .form-group.col-sm-12
                    +inputtext(name="welcomeannounce_text", label="", type="textarea")
                    //div#welcomeannounce_text

        button#save.btn.btn-link(type='button', onclick='WelcomeAnnounce_saveWelcomeAnnounce()')
            span.mdi.mdi-content-save.mdi-24px.iconlabel
                = T("save", 1)
                    
block CONTENTJS