include ../mixins
block CONTENT
    img(src=c.AppURL + c.AppPath + "static/img/logo_chimitheque.svg", alt="chimitheque_logo", title="Chimithèque")
    :go:func
        Login(c ViewContainer)
    header
        .row
            div.card.mx-auto.text-center(style="width: 18rem; border: none;")
                img(src=c.AppURL + c.AppPath + "static/img/openid.svg", alt="openid")
                .card-body 
                    h5.card-title
                        //- = T("login_openid", 1 )
                    p.card-text 
                        //- = T("login_openid_text", 1 )
                    a(href=c.AppURL + c.AppPath + "get-token")
                        = T("login_openid_link", 1 )

            #wannounce.col.col-sm-8.offset-sm-2.mt-5

    a(href="https://github.com/tbellembois/gochimitheque")
        img(style="position: absolute; top: 0; right: 0; border: 0;" src=c.AppURL + c.AppPath + "static/img/forkme_github.png" alt="Fork me on GitHub")

    .fixed-bottom.row
        .col.col-sm-12.d-flex.justify-content-center
    .fixed-bottom.flex-row-reverse

block CONTENTJS
    script.
        $(document).ready(function () {
            Login_getAnnounce();
        })
