# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Databases
*.db*

# vscode
.vscode

# dist
dist/
gochimitheque

# generated locales
locales/

# generated gopherjs
static/js/chim/gjs-common*

# generated rice
rice-box.go

# generated jade
jade/
!jade/funcs.go

# error log
*.log