*.log

gochimitheque
chimitheque_people_keycloak_exporter

*.db*
*.sqlite*

keycloak.json

wasm/wasm*

rice-box.go

bind-gochimitheque-wasm/*
bind-gochimitheque-utils/*

static/jade/*
!static/jade/funcs.go

node_modules

package.json
package-lock.json

jade
