services:
  nginx:
    container_name: nginx
    image: nginx:1.29
    restart: unless-stopped
    ports:
      - 443:443
      - 80:80
    environment:
      - TZ='Europe/Paris'
    volumes:
      - /data/docker-nginx/nginx-auth/certs:/etc/nginx/certs
      - /data/docker-nginx/nginx-templates:/etc/nginx/templates
      - /data/docker-nginx/nginx-conf/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - chimitheque
    depends_on:
      - keycloak
      - chimitheque

  postgres:
    container_name: postgres
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: keycloak
      TZ: "Europe/Paris"
    networks:
      - chimitheque
    volumes:
      - /data/docker-postgres/data:/var/lib/postgresql/data

  keycloakpre:
    container_name: keycloakpre
    image: ubuntu:jammy
    environment:
      - CHIMITHEQUE_APPURL=${CHIMITHEQUE_APPURL}
      - CHIMITHEQUE_OIDCCLIENTSECRET=${CHIMITHEQUE_OIDCCLIENTSECRET}
      - TZ='Europe/Paris'
    command: >
      bash -c "echo $CHIMITHEQUE_APPURL &&
               echo $CHIMITHEQUE_OIDCCLIENTSECRET &&
               sed 's CHIMITHEQUE_APPURL $CHIMITHEQUE_APPURL g; s CHIMITHEQUE_OIDCCLIENTSECRET $CHIMITHEQUE_OIDCCLIENTSECRET g' /templates/chimitheque-realm-template.json > /data/chimitheque-realm.json"
    volumes:
      - /data/docker-keycloak/import:/data
      - /data/docker-keycloak/templates:/templates
    networks:
      - chimitheque

  keycloak:
    container_name: keycloak
    restart: unless-stopped
    depends_on:
      - postgres
      - keycloakpre
    ports:
      - 8080:8080
    build:
      context: ./docker/keycloak
      dockerfile: Dockerfile
      no_cache: true
      args:
        KC_DB: postgres
        KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
        KC_DB_USERNAME: postgres
        KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
        KC_FEATURES: docker:v1,admin:v2,hostname:v2
        KC_HTTP_RELATIVE_PATH: /keycloak
        KC_TZ: "Europe/Paris"
    entrypoint: "/opt/keycloak/bin/kc.sh start --optimized --import-realm"
    # keycloak export REALM command
    #entrypoint: "/opt/keycloak/bin/kc.sh export --dir /opt/keycloak/data/import --realm chimitheque --users different_files --users-per-file 1000 --optimized"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KEYCLOAK_ADMIN}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_HOSTNAME=${KEYCLOAK_SCHEME}://${KEYCLOAK_HOSTNAME}/keycloak
      - KC_HTTP_PORT=8080
      - KC_PROXY_HEADERS=xforwarded
      - KC_HTTP_ENABLED=true
      - KC_HTTP_HOST=keycloak
    volumes:
      - /data/docker-keycloak/import:/opt/keycloak/data/import
    networks:
      - chimitheque

  chimitheque:
    container_name: chimitheque
    image: ${CHIMITHEQUE_IMAGE}
    restart: unless-stopped
    environment:
      - CHIMITHEQUE_DEBUG=${CHIMITHEQUE_DEBUG}
      - CHIMITHEQUE_APPPATH=/app/
      - CHIMITHEQUE_APPURL=${CHIMITHEQUE_APPURL}
      - CHIMITHEQUE_DOCKERPORT=8081
      - CHIMITHEQUE_OIDCDISCOVERURL=${KEYCLOAK_SCHEME}://${KEYCLOAK_HOSTNAME}/keycloak/realms/chimitheque/.well-known/openid-configuration
      - CHIMITHEQUE_OIDCCLIENTID=chimitheque
      - CHIMITHEQUE_OIDCCLIENTSECRET=${CHIMITHEQUE_OIDCCLIENTSECRET}
      - CHIMITHEQUE_ADMINS=${CHIMITHEQUE_ADMINS}
      # - CHIMITHEQUE_UPDATEQRCODE=true
      - TZ='Europe/Paris'
    volumes:
      - /data/docker-chimitheque/chimitheque-db:/data
    networks:
      - chimitheque

networks:
  chimitheque:
