extends static/templates/base.jade

block content
    form#entity
        .form-group.row
            | {{$label := "name"}} {{$name := "entity_name"}}
            +inputtext
        .form-group.row
            | {{$label := "description"}} {{$name := "entity_description"}}
            +inputtext
        .form-group.row
            | {{$label := "manager(s)"}} {{$name := "managers"}}
            +selectmultiple

    button#save.btn.btn-primary(type='button', onclick='saveEntity()') save changes

include static/templates/entity/commonjs.jade

block contentjs
