| {{define "CONTENT"}}
    form#entity
        .form-group.row
            | {{$label := "name"}} {{$name := "entity_name"}}
            +inputtext
        .form-group.row
            | {{$label := "description"}} {{$name := "entity_description"}}
            +inputtext
        .form-group.row
            | {{$label := "manager(s)"}} {{$name := "managers"}}
            +selectmultiple

    button#save.btn.btn-primary(type='button', onclick='saveEntity()') save changes
| {{end}}

| {{define "CONTENTJS"}}
| {{template "COMMONCONTENTJS"}}
| {{end}}
