extends static/templates/base.jade

block content
    header.row
        #entity.col-sm-12
            .panel.panel-default
            .panel-heading
                h3#name.panel-title
            .panel-body
            ul.list-group
                li#id.list-group-item
                li#description.list-group-item
                li#manager.list-group-item

block contentjs
    script.
        window.onload = function () {
            $.ajax({
                url: "/entity/{{.id}}",
                method: 'GET',
            }).done(function(entity) {
                //console.log(entity);
                $("#name").text(entity.name);
                $("#id").text(entity.id);
                $("#description").text(entity.description);
                $("#manager").text(entity.email);
            });
        }