| {{define "COMMONCONTENTJS"}}

script.

    $( document ).ready(function() { 

            //
            // form validation
            //
            $( "#storelocation" ).validate({
                // ignore required to validate select2
                ignore: "",
                errorClass: "alert alert-danger",
                rules: {
                    storelocation_name: {
                        required: true,
                    },
                    entity: {
                        required: true,
                    },
                },
            });

            //
            // entity select2
            //
            $('select#entity').select2({
                ajax: {
                    url: '/entities',
                    dataType: 'json',
                    processResults: function (data) {
                    // replacing email by text expected by select2
                    var newdata = $.map(data.rows, function (obj) {
                        obj.text = obj.text || obj.entity_name;
                        obj.id = obj.id || obj.entity_id;
                        return obj;
                    });
                    return {
                        results: newdata
                    };
                    }
                }
            });

    });

    //
    // save store location callback
    //
    var createCallBack = function createCallback(data, textStatus, jqXHR) {
        displayMessage("store location " + data.storelocation_name + " created", "success");
        setTimeout(function(){ window.location = "/v/storelocations"; }, 1000);
    }
    var updateCallBack = function updateCallback(data, textStatus, jqXHR) {
        $('#list-collapse').collapse('show');
        $('#edit-collapse').collapse('hide');
        var $table = $('#table');
        var index = $('input#index').val();
        $table.bootstrapTable('updateRow', {
            index: index,
            row: {
                "storelocation_name": data.storelocation_name,
                "entity.entity_name": data.entity.entity_name,
            }
        });
        displayMessage("store location " + data.storelocation_name + " updated", "success");
    }
    function saveStoreLocation() {
        var form = $("#storelocation");
        if (! form.valid()) {
            return;
        };

        var storelocation_id = $("input#storelocation_id").val(),
            storelocation_name = $("input#storelocation_name").val(),
            entity = $('select#entity').select2('data')[0],
            ajax_url = "/storelocations",
            ajax_method = "POST",
            ajax_callback = createCallBack,
            data = {};

            if ($("form#storelocation input#storelocation_id").length) {
                ajax_url = "/storelocations/" + storelocation_id
                ajax_method = "PUT"
                ajax_callback = updateCallBack
            }

            $.extend(data, {
                "storelocation_id": storelocation_id,
                "storelocation_name": storelocation_name,
                "entity.entity_id": entity.id,
                "entity.entity_name": entity.text,
            });
            $.ajax({
                url: ajax_url,
                method: ajax_method,
                dataType: 'json',
                data: data,
            }).done(ajax_callback).fail(function(jqXHR, textStatus, errorThrown) {
                handleHTTPError(jqXHR.statusText, jqXHR.status)
            });  
        }



| {{end}}