extends ../base.jade
block CONTENT
    :go:func
        Storelocationcreate(c ViewContainer)

    +titleicon(iconaction="creation" iconitem="docker" label="storelocation_create_title")

    form#storelocation
        .form-group.row
            .form-group.col-sm-12
                +inputtext("storelocation_name_title", "storelocation_name")
        .form-group.row
            .form-group.col-sm-12
                +select("storelocation_entity_title", "entity")
        .form-group.row
            .form-group.col-sm-12
                +select("storelocation_parent_title", "storelocation") 
        .form-group.row
            .form-group.col-sm-12
                +checkbox("storelocation_canstore_title", "storelocation_canstore")
        .form-group.row
            .form-group.col-sm-12
                +inputtext("storelocation_color_title", "storelocation_color")

    button#save.btn.btn-link(type='button', onclick='saveStoreLocation()')
        span.mdi.mdi-content-save.mdi-24px.iconlabel
            = T("save", 1)

block CONTENTJS
	script(src="../js/chim/storelocation.js")
