.th-product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 226px;
}
.th-.th-product-operate {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 332px;
}
.th-storage-operate {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 215px;
}
.th-storage-barecode {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
}
.th-storelocation-operate {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 96px;
}
.iconlabel {
    font-family: economicaregular;
}
@font-face {
    font-family: 'economicaregular';
    src: url('../fonts/economica-regular-webfont.woff2') format('woff2'),
         url('../fonts/economica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
table {
    overflow-x: auto;
    overflow-y: hidden;
}
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}