extends ../base.jade
block CONTENT
    :go:func
        Productcreate(c ViewContainer)

    +titleicon(iconaction="creation" iconitem="tag" label="create product")

    form#product
        input#exactMatchEmpiricalFormula(type="hidden")
        input#exactMatchlinearFormula(type="hidden")
        input#exactMatchCasNumber(type="hidden")
        input#exactMatchCeNumber(type="hidden")
        input#exactMatchName(type="hidden")
        input#exactMatchSynonyms(type="hidden")
        input#exactMatchClassofcompounds(type="hidden")
        input#exactMatchPhysicalstate(type="hidden")

        .form-row
            .form-group.col-sm-auto
                span.badge.badge-pill.badge-danger &nbsp;
            .form-group.col-sm-5
                +select(label="name" name="name")
            .form-group.col-sm-5
                +selectmultiple(label="synonym(s)" name="synonyms")

        .form-row
            .form-group.col-sm-12
                +inputtext("specificity", "product_specificity")

        .form-row
            .form-group.col-sm-auto
                span.badge.badge-pill.badge-danger &nbsp;
            .form-group.col-sm-5
                +select("empirical formula", "empiricalformula")
            .form-group.col-sm-5
                +select("linear formula", "linearformula")
            .form-group.col-sm-1
                button#fconverter.btn.btn-link(type="button" data-toggle="popover" data-content="no result" title="convert linear to empirical formula" onclick="linearToEmpirical();")
                    span.mdi.mdi-rotate-3d.mdi-24px

        .form-row
            .form-group.col-sm-auto
                span.badge.badge-pill.badge-danger &nbsp;
            .form-group.col-sm-6
                +select("cas number", "casnumber")
            .form-group.col-sm-5
                +select("ce number", "cenumber")

        .form-row
            .form-group.col-sm-12
                +inputtext("MSDS link", "product_msds")

        .form-row
            .form-group.col-sm-6
                +inputtext("3D formula link", "product_threedformula")
            .form-group.col-sm-6
                +inputfile("3D formula mol file", "product_molformula")
                +inputhidden("product_molformula_content", "")

        .form-row
            .form-group.col-sm-6
                +select("physical state", "physicalstate")
            .form-group.col-sm-6
                +select("class of compound", "classofcompound")  

        .form-row
            .form-group.col-sm-5.d-flex.align-items-end
                +inputtextarea("magical selector", "magical")
            .form-group.col-sm-1.d-flex.align-items-end
                button#magical-button(onclick="magic();")
                    span.mdi.mdi-24px.mdi-auto-fix

        .form-row
            .form-group.col-sm-6
                +select("signal word", "signalword")
            .form-group.col-sm-6
                +selectmultiple("symbol(s)", "symbols")

        .form-row
            .form-group.col-sm-6
                +selectmultiple("hazard statement(s)", "hazardstatements")
            .form-group.col-sm-6
                +selectmultiple("precautionary statement(s)", "precautionarystatements")

        .form-row
            .form-group.col-sm-12
                +checkboxicon2("restricted access", "product_restricted", "mdi-hand")
        .form-row
            .form-group.col-sm-12
                +checkboxicon2("radioactive", "product_radioactive", "mdi-radioactive")

        .form-row
            .form-group.col-sm-12
                +inputtextarea("disposal comment", "product_disposalcomment")
        .form-row
            .form-group.col-sm-12
                +inputtextarea("remark", "product_remark")

        button#save.btn.btn-link(type='button', onclick='saveProduct()')
            span.mdi.mdi-content-save.mdi-24px.iconlabel
                = T("save", 1)


block CONTENTJS
	include commonjs.jade

