extends static/templates/base.jade

block content
    form#product-create
        .form-group.row
            | {{$label := "name"}} {{$name := "name"}}
            +select
        .form-group.row
            | {{$label := "cas number"}} {{$name := "casnumber"}}
            +select
        .form-group.row
            | {{$label := "specificity"}} {{$name := "product_specificity"}}
            +inputtext
        .form-group.row
            | {{$label := "sgh01"}} {{$id := "sgh01"}} {{$class := ""}} {{$value := "sgh01"}} {{$title := "sgh01"}} {{$img := "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAInSURBVFiFzdi9b45RGMfxz11KNalS0napgVaE0HhLxEtpVEIQxKAbiUhMJCoisTyriYTBLCZGsRCrP8JkkLB4iVlyDL1EU9refZ7raZ3kJPfrub75/a7zWpVSpJSqaoBSGintlVJarzQKJWojo81sqDS4XKUSlcu3LwkuFyoRLh8qCa49UAlw6VDoRUercOlK4T7WtapcNlQHHmfYmgm1CVO4MOPZBow31V4SVDde4i22xrMeXEfVVK5myB4gh/AQVwPqSljbEe/XYVfd9lOgIvAt3AnAS1iBczgV168wVTdOClSAPcMwzmIg4EbRP+u7behZKF6r9q3BTTzFC1wLO49iD/owHioex2nswGpsnC9uU1BYhUE8R8EH3As1DuIYtmAnDsT9SZwPJScxMp8o9RKRtQHSFUk8jBHcxpPIr95QqC+svIxHGKiVDrM4VqpRSik/qqoaxTecwSe8CUWO4Dve4W6o9xFf8Bl9VVV1RgfoDLXfl1J+LhR0bp+nVRjGZoxhLw7jRNhzIwAKXmMCD/AVDVxsRq3ayY/1GEK/6RF+u+k5cTAUGJoxVk1ionaPnjf568HtD6h9GJunY3RjN7qahfobrEYP9Xv0brUuaoCt+VO7oeYGaydcS5N4u+BSlj3ZcKkLxSy4tiytW4Vr62ak2SBLsn1bbLAl3fDWDbosRwQLBV/WQ5W5IP6LY6h/w6VA5YAl2jez1lrBLlhKaaiqP9cJ5Rf+De5Q3HyidwAAAABJRU5ErkJggg=="}}
            +inlineimgcheckbox
            | {{$label := "sgh02"}} {{$id := "sgh02"}} {{$class := ""}} {{$value := "sgh02"}}
            +inlinecheckbox
            | {{$label := "sgh03"}} {{$id := "sgh03"}} {{$class := ""}} {{$value := "sgh03"}}
            +inlinecheckbox
            | {{$label := "sgh04"}} {{$id := "sgh04"}} {{$class := ""}} {{$value := "sgh04"}}
            +inlinecheckbox
            | {{$label := "sgh05"}} {{$id := "sgh05"}} {{$class := ""}} {{$value := "sgh05"}}
            +inlinecheckbox
            | {{$label := "sgh06"}} {{$id := "sgh06"}} {{$class := ""}} {{$value := "sgh06"}}
            +inlinecheckbox
            | {{$label := "sgh07"}} {{$id := "sgh07"}} {{$class := ""}} {{$value := "sgh07"}}
            +inlinecheckbox
            | {{$label := "sgh08"}} {{$id := "sgh08"}} {{$class := ""}} {{$value := "sgh08"}}
            +inlinecheckbox
            | {{$label := "sgh09"}} {{$id := "sgh09"}} {{$class := ""}} {{$value := "sgh09"}}
            +inlinecheckbox


    button#save.btn.btn-primary(type='button', onclick='saveProduct()') save changes

