| {{define "CONTENT"}}

    form#product
        input#exactMatchEmpiricalFormula(type="hidden")
        input#exactMatchCasNumber(type="hidden")
        input#exactMatchCeNumber(type="hidden")
        input#exactMatchName(type="hidden")
        input#exactMatchSynonyms(type="hidden")
        .form-group.row
            | {{$label := "name"}} {{$name := "name"}}
            +select
        .form-group.row
            | {{$label := "synonym(s)"}} {{$name := "synonyms"}}
            +selectmultiple
        .form-group.row
            | {{$label := "empirical formula"}} {{$name := "empiricalformula"}}
            +select
        .form-group.row
            | {{$label := "cas number"}} {{$name := "casnumber"}}
            +select
        .form-group.row
            | {{$label := "ce number"}} {{$name := "cenumber"}}
            +select
        .form-group.row
            | {{$label := "specificity"}} {{$name := "product_specificity"}}
            +inputtext
        .form-group.row
            | {{$label := "symbol(s)"}} {{$name := "symbols"}}
            +selectmultiple

    button#save.btn.btn-primary(type='button', onclick='saveProduct()') save changes

| {{end}}
| {{define "CONTENTJS"}}
| {{template "COMMONCONTENTJS"}}
| {{end}}