| {{define "COMMONCONTENTJS"}}

script.

    $( document ).ready(function() {  
    
            //
            // form validation
            //
            $( "#storage" ).validate({
                errorClass: "alert alert-danger",
                rules: {
                    storelocation: {
                        required: true,
                    },
                },
            });

            //
            // search form
            //
            $('select#s_casnumber').select2({
                tags: false,
                allowClear: true,
                placeholder: "select a cas number",
                ajax: {
                    url: proxyPath + 'products/casnumbers',
                    delay: 400,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.casnumber_label;
                            obj.id = obj.id || obj.casnumber_id;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-s_casnumber-results li").length + 10;

                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            });

            $('select#s_name').select2({
                tags: false,
                allowClear: true,
                placeholder: "select a name",
                ajax: {
                    url: proxyPath + 'products/names',
                    delay: 400,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {

                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.name_label;
                            obj.id = obj.id || obj.name_id;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-s_name-results li").length + 10;

                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            });

            $('select#s_empiricalformula').select2({
                tags: false,
                allowClear: true,
                placeholder: "select a formula",
                ajax: {
                    url: proxyPath + 'products/empiricalformulas',
                    delay: 400,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {

                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.empiricalformula_label;
                            obj.id = obj.id || obj.empiricalformula_id;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-s_empiricalformula-results li").length + 10;

                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            });

            //
            // store locations selector select2
            //
            $('select#storelocationselector').select2({
                templateResult: formatStorelocation,
                placeholder: "direct store location access",
                ajax: {
                    url: proxyPath + 'storelocations',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.storelocation_fullpath;
                            obj.id = obj.id || obj.storelocation_id.Int64;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-storelocationselector-results li").length + 10;
                        
                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            }).on("select2:select", function (e) {
                var data = e.params.data;
                var slid = data.storelocation_id.Int64;
                window.location.href = proxyPath + "v/products?storelocation=" + slid;
            });

            //
            // store location select2
            //
            $('select#storelocation').select2({
                templateResult: formatStorelocation,
                ajax: {
                    url: proxyPath + 'storelocations',
                    delay: 400,
                    data: function (params) {
                        var query = {
                            storelocation_canstore: true,
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.storelocation_name.String;
                            obj.id = obj.id || obj.storelocation_id.Int64;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-storelocation-results li").length + 10;
                        
                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            }).on("change", function (e) {
                $(this).valid(); // FIXME: see https://github.com/select2/select2/issues/3901
            });

            //
            // unit select2
            //
            $('select#unit').select2({
                allowClear: true,
                placeholder: "select a unit",
                ajax: {
                    url: proxyPath + 'storages/units',
                    delay: 400,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.unit_label.String;
                            obj.id = obj.id || obj.unit_id.Int64;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-unit-results li").length + 10;

                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            }).on("change", function (e) {
                $(this).valid(); // FIXME: see https://github.com/select2/select2/issues/3901
            });

            //
            // suppliers select2
            //
            $('select#supplier').select2({
                allowClear: true,
                tags: true,
                placeholder: "select or enter a supplier",
                createTag: function (params) {
                    if ($("input#exactMatchSupplier").val() == "true") {
                        return null
                    }
                    return {
                        id: params.term,
                        text: params.term,
                    }
                },
                ajax: {
                    url: proxyPath + 'storages/suppliers',
                    delay: 400,
                        data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            offset: (params.page-1)*10 || 0,
                            limit: 10
                        }

                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        isExactMatch=false;
                        
                        // looking for an exact match
                        $.each(data.rows, function( index, value ) {
                            if(value.c == 1) {
                                isExactMatch=true;
                            }
                        });
                        
                        // there is a match: setting the input field
                        if (isExactMatch) {
                            $("input#exactMatchSupplier").val("true");
                        } else {
                            $("input#exactMatchSupplier").val("false");
                        }

                        // replacing name by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.supplier_label.String;
                            obj.id = obj.id || obj.supplier_id.Int64;
                            return obj;
                        });
                        // getting the number of loaded select elements
                        selectnbitems = $("ul#select2-supplier-results li").length + 10;

                        return {
                            results: newdata,
                            pagination: {more: selectnbitems<data.total}
                        };
                    }
                }
            }).on("change", function (e) {
                $(this).valid(); // FIXME: see https://github.com/select2/select2/issues/3901
            });

    });

    //
    // store location select2 formatter
    //
    function formatStorelocation (sl) {
        if (!sl.storelocation_id) {
            return sl.storelocation_fullpath;
        }
        var canstore = '<i class="material-icons">close</i>';
        var icon = '<span class="badge badge-pill" style="color: ' + sl.storelocation_color.String + ';"><i class="material-icons">label</i></span>';
        if (sl.storelocation_canstore.Valid && sl.storelocation_canstore.Bool) {
            canstore = '<i class="material-icons">check</i>'
        }
        var s = $(
            '<div>' + icon + '<span>' + sl.storelocation_fullpath + '</span>' + canstore + '</div>'
        );
        return s;
    };

    //
    // save storage callback
    //
    var createCallBack = function createCallback(data, textStatus, jqXHR) {
        displayMessage("storage created", "success");
        setTimeout(function(){ window.location = proxyPath + "v/storages?product="+data.product.product_id+"&hl="+data.product.product_id; }, 1000);
    }
    var updateCallBack = function updateCallback(data, textStatus, jqXHR) {
        $('#list-collapse').collapse('show');
        $('#edit-collapse').collapse('hide');
        var $table = $('#table');
        var index = $('input#index').val();
        // appending hl parameter to highlight updated row
        updateQueryStringParam("hl", data.storage_id.Int64);
        $table.bootstrapTable('refresh');
        displayMessage("storage " + data.storage_id.Int64 + " updated", "success");
    }
    function saveStorage() {
        var form = $("#storage");
        if (! form.valid()) {
            return;
        };

        var product_id = $("input#product_id").val(),
            storage_id = $("input#storage_id").val(),
            storage_nbitem = $("input#storage_nbitem").val(),
            storage_comment = $("input#storage_comment").val(),
            storage_quantity = $("input#storage_quantity").val(),
            storage_barecode = $("input#storage_barecode").val(),
            storage_entrydate = $("input#storage_entrydate").val(),
            storage_exitdate = $("input#storage_exitdate").val(),
            storage_openingdate = $("input#storage_openingdate").val(),
            storage_expirationdate = $("input#storage_expirationdate").val(),
            storage_reference = $("input#storage_reference").val(),
            storage_batchnumber = $("input#storage_batchnumber").val(),
            storage_todestroy = $("input#storage_todestroy:CHECKED").val(),
            unit = $('select#unit').select2('data')[0],
            supplier = $('select#supplier').select2('data')[0],
            storelocation = $('select#storelocation').select2('data')[0],
            ajax_url = proxyPath + "storages",
            ajax_method = "POST",
            ajax_callback = createCallBack,
            data = {};

            if ($("form#storage input#storage_id").length) {
                ajax_url = proxyPath + "storages/" + storage_id
                ajax_method = "PUT"
                ajax_callback = updateCallBack
            }

            $.extend(data, {
                "product.product_id": product_id,
                "storage_id": storage_id,
                "storage_nbitem": storage_nbitem == 0 ? 1 : storage_nbitem,
                "storage_comment": storage_comment,
                "storage_quantity": storage_quantity == "" ? 1 : storage_quantity,
                "storage_barecode": storage_barecode,
                "storage_entrydate": storage_entrydate,
                "storage_exitdate": storage_exitdate,
                "storage_openingdate": storage_openingdate,
                "storage_expirationdate": storage_expirationdate,
                "storage_reference": storage_reference,
                "storage_batchnumber": storage_batchnumber,
                "storage_todestroy": storage_todestroy == "on" ? true : false,
                "storelocation.storelocation_id": storelocation.id,
            });
            if (supplier !== undefined) {
                $.extend(data, {
                    "supplier.supplier_id": supplier.id == supplier.text ? -1 : supplier.id,
                    "supplier.supplier_label": supplier === undefined ? "" : supplier.text,
                });                    
            }
            if (unit !== undefined) {
                $.extend(data, {
                    "unit.unit_id": unit.id,
                    "unit.unit_label": unit.text,
                });                    
            }
            $.ajax({
                url: ajax_url,
                method: ajax_method,
                dataType: 'json',
                data: data,
            }).done(ajax_callback).fail(function(jqXHR, textStatus, errorThrown) {
                handleHTTPError(jqXHR.statusText, jqXHR.status)
            });  
    }

| {{end}}