| {{define "BASE"}}
| {{template "MIXINS"}}
html
    head
        | {{template "HEAD"}}
        | <link href="{{.ProxyPath}}css/bootstrap.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/bootstrap-table.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/select2.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/bootstrap-colorpicker.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/fontawesome.all.min.css" rel="stylesheet"/>
        | <link href="{{.ProxyPath}}css/chimitheque.css" rel="stylesheet"/>
    body
        div.container
            | {{template "HEADER"}}
            | {{template "CONTENT"}}
            | {{template "FOOTER"}}

        | {{template "FOOT"}}
        | <script src="{{.ProxyPath}}js/jquery-3.3.1.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.formautofill.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.validate.min.js"></script>
        | <script src="{{.ProxyPath}}js/jquery.validate.additional-methods.min.js"></script>
        | <script src="{{.ProxyPath}}js/select2.full.min.js"></script>
        | <script src="{{.ProxyPath}}js/popper.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-table.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-confirmation.min.js"></script>
        | <script src="{{.ProxyPath}}js/bootstrap-colorpicker.min.js"></script>
        | <script src="{{.ProxyPath}}js/gjs-common.js"></script>
        | <script src="{{.ProxyPath}}js/chimcommon.js"></script>
        | <script src="{{.ProxyPath}}js/chimauth.js"></script>

        script.
            //
            // common javascript
            //

            // logged user email and permissions
            var container = {{ . }};

            // setting up logged user
            window.onload = function() {
                email = readCookie("email")
                document.getElementById("logged").innerHTML = email;
           };
        | {{template "CONTENTJS"}}

| {{end}}