include static/templates/mixins.jade
doctype html
html
    head
        include static/templates/head.jade
    body
        div.container
            include static/templates/header.jade
            include static/templates/menu.jade
            block content
            include static/templates/footer.jade

        include static/templates/foot.jade
        block contentjs

        // | {{.}}
        // | {{.}} {{.PersonID}} {{.PersonEmail}}
        
        script.
            //
            // common javascript
            //

            // logged user email and permissions
            var container = {{ . }};

            // setting up logged user
            window.onload = function() {
                email = readCookie("email")
                document.getElementById("logged").innerHTML = email;
            };