script(src="/js/jquery-3.3.1.min.js")
script(src="/js/jquery.formautofill.min.js")
script(src="/js/jquery.validate.min.js")
script(src="/js/jquery.validate.additional-methods.min.js")
script(src="/js/select2.full.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/bootstrap-table.min.js")
script(src="/js/bootstrap-confirmation.min.js")
script(src="/js/fontawesome-all.min.js")

script(src="/js/gjs-common.js")
script(src="/js/chimcommon.js")
script(src="/js/chimauth.js")