| {{define "HEADER"}}

header.row.justify-content-between
    div.col-sm-4
        img(src="/img/chimitheque_logo.png", alt="chimitheque_logo")
    div.col-sm-4.col.align-self-end
        img(src="/img/ens_logo.png", alt="ens_logo")

| {{end}}