| {{define "MIXINS"}}
mixin title
    .card.bg-dark.text-center.w-25.mx-auto.mt-md-5.mb-md-5
        .card-body
            h5.card-title.text-light {{$label}}

mixin inlineradio
    .custom-control.custom-radio.custom-control-inline
        input(class='custom-control-input {{$class}}' id='{{$id}}' type='radio' name='{{$name}}' value='{{$value}}')
        label.custom-control-label(for='{{$id}}') {{$label}}

mixin inlinecheckbox
    .form-check.form-check-inline
        input(class='form-check-input {{$class}}' id='{{$id}}' type='checkbox' value='{{$value}}' title='{{$id}}')
        label.form-check-label(for='{{$id}}') {{$label}}

mixin inlineimgcheckbox
    .form-check.form-check-inline
        input(class='form-check-input {{$class}}' id='{{$id}}' type='checkbox' value='{{$value}}' title='{{$id}}')
        label.form-check-label(for='{{$id}}')
            img(src='data:{{$img}}' alt='{{$title}}' title='{{$title}}')

mixin checkbox
    .form-check
        input.form-check-input(type='checkbox' id='{{$name}}')
        label.form-check-label(for='{{$name}}') {{$label}}

mixin select
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        select.form-control(style='width: 100% !important;' id='{{$name}}' name='{{$name}}')

mixin selectcompact
    .form-group.row
        label.col-sm-2.col-form-label(for='{{$name}}') {{$label}}
        .col-sm-10
            select.form-control(style='width: 100% !important;' id='{{$name}}' name='{{$name}}')

mixin selectmultiple
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        select.form-control(style='width: 100% !important;' id='{{$name}}' name='{{$name}}' multiple='multiple')
        
mixin inputtext
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        input.form-control(type='text' id='{{$name}}' name='{{$name}}' title='{{$name}}')

mixin inputtextcompact
    .form-group.row
        label.col-sm-2.col-form-label(for='{{$name}}') {{$label}}
        .col-sm-10
            input.form-control(type='text' id='{{$name}}' name='{{$name}}' title='{{$name}}')

mixin inputdate
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        input.form-control(type='date' id='{{$name}}' name='{{$name}}' title='{{$name}}')

mixin inputnumber
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        input.form-control(type='number' id='{{$name}}' name='{{$name}}' title='{{$name}}' step='{{$step}}' min='{{$min}}' max='{{$max}}' value='{{$value}}')

mixin inputtextarea
    .form-group.col-sm-12
        label(for='{{$name}}') {{$label}}
        textarea.form-control(type='text' id='{{$name}}' name='{{$name}}' title='{{$name}}')

mixin permissions
    .col-sm-6
        .alert.alert-primary product
    .col-sm-6
        | {{$id := "permproduct"}} {{$value := "_"}} {{$label := "_"}} {{$class := "perm"}}  {{$name := "product"}}
        +inlineradio
        | {{$id := "permproductr"}} {{$value := "r"}} {{$label := "r"}}
        +inlineradio
        | {{$id := "permproductrw"}} {{$value := "w"}} {{$label := "rw"}}
        +inlineradio
    .col-sm-6
        .alert.alert-primary storage
    .col-sm-6
        | {{$id := "permstorage"}} {{$value := "_"}} {{$label := "_"}} {{$class := "perm"}}  {{$name := "storage"}}
        +inlineradio
        | {{$id := "permstorager"}} {{$value := "r"}} {{$label := "r"}}
        +inlineradio
        | {{$id := "permstoragerw"}} {{$value := "w"}} {{$label := "rw"}}
        +inlineradio
| {{end}}