| {{define "COMMONCONTENTJS"}}
script.

       $( document ).ready(function() {

            //
            // form validation
            //
            $( "#person" ).validate({
                errorClass: "alert alert-danger",
                rules: {
                    person_email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "",
                            type: "post",
                            beforeSend: function(jqXhr, settings) {
                                id = -1
                                if ($("form#person input#person_id").length) {
                                    id = $("form#person input#person_id").val()
                                }
                                settings.url = proxyPath + "validate/person/" + id + "/email/";
                            },
                        },
                    },
                },
            });

            //
            // manager select2
            //
            $('select#entities').select2({
                dropdownParent: $('#viewedit-collapse'),
                ajax: {
                    url: proxyPath + 'entities',
                    dataType: 'json',
                    processResults: function (data) {
                        // replacing email by text expected by select2
                        var newdata = $.map(data.rows, function (obj) {
                            obj.text = obj.text || obj.entity_name;
                            obj.id = obj.id || obj.entity_id;
                            return obj;
                        });
                        return {
                            results: newdata
                        };
                    }
                }
            });
            $('select#entities').on('select2:unselecting', function (e) {
                var ismanager = false;
                var data = e.params.args.data,
                    entityid = data.id,
                    entityname = data.text;
                
                // preventing unselecting entity if the person is one its manager
                manageentities = $("input.manageentities")
                $.each(manageentities, function( index, e ) {
                    if ($(e).val() == entityid) {
                        ismanager = true;
                    }
                });
                if (ismanager) {
                    // FIXME: do we have to do something on the server side to check this?
                    displayMessage("this entity can not be removed, the user is one of its manager", "success");
                    e.preventDefault();
                } else {
                    // removing permissions widget
                    $("#perm" + data.id).remove();
                }
            });
            $('select#entities').on('select2:select', function (e) {
                var data = e.params.data;
                
                // adding permissions widget
                $("#permissions").append(global.buildPermissionWidget(data.entity_id, data.entity_name));
            });
        });


        //
        // save person callback
        //
        var createCallBack = function createCallback(data, textStatus, jqXHR) {
            displayMessage("person " + data.person_email + " created", "success");
            setTimeout(function(){ window.location = "/v/people"; }, 1000);
        }
        var updateCallBack = function updateCallback(data, textStatus, jqXHR) {
            $('#list-collapse').collapse('show');
            $('#viewedit-collapse').collapse('hide');
            var $table = $('#table');
            var index = $('input#index').val();
            $table.bootstrapTable('updateRow', {
                index: index,
                row: {
                    "person_email": data.person_email,
                }
            });
            displayMessage("person " + data.person_email + " updated", "success");
        }
        function savePerson() {
            var form = $("#person");
            if (! form.valid()) {
                return;
            };

            var person_id = $("input#person_id").val(),
                person_email = $("input#person_email").val(),
                entities = $('select#entities').select2('data'),
                permissions = $("input[type=radio]:checked"),
                ajax_url = proxyPath + "people",
                ajax_method = "POST",
                ajax_callback = createCallBack,
                data = {};

                if ($("form#person input#person_id").length) {
                    ajax_url = proxyPath + "people/" + person_id
                    ajax_method = "PUT"
                    ajax_callback = updateCallBack
                }

                $.each(permissions, function( index, e ) {
                    data["permissions." + index +".permission_perm_name"] = $(e).attr("perm_name");
                    data["permissions." + index +".permission_item_name"] = $(e).attr("item_name");
                    data["permissions." + index +".permission_entity_id"] = $(e).attr("entity_id");
                });               
                $.each(entities, function( index, e ) {
                    data["entities." + index +".entity_id"] = e.id;
                    data["entities." + index +".entity_name"] = e.text;
                });
                $.extend(data, {
                        "person_id": person_id,
                        "person_email": person_email,
                });
                $.ajax({
                    url: ajax_url,
                    method: ajax_method,
                    dataType: 'json',
                    data: data,
                }).done(ajax_callback).fail(function(jqXHR, textStatus, errorThrown) {
                    handleHTTPError(jqXHR.statusText, jqXHR.status)
                });  
            }
| {{end}}