| {{define "CONTENT"}}
    form#person
        .form-group.row
            | {{$label := "email"}} {{$name := "person_email"}}
            +inputtext
        .form-group.row
            | {{$label := "entity(ies)"}} {{$name := "entities"}}
            +selectmultiple
        .form-group.row#permissions

    button.btn.btn-primary(type='button', onclick='savePerson()') save changes
| {{end}}
| {{define "CONTENTJS"}}
| {{template "COMMONCONTENTJS"}}
| {{end}}