extends static/templates/base.jade

block content
    form#person-create
        .form-group.row
            label.col-sm-2.col-form-label(for='email') email
            .col-sm-10
                input#email.form-control(type='text', value='', name='email')
        .form-group.row
            .col-sm-6
                .alert.alert-primary product
            .col-sm-6
                | {{$id := "permproduct"}} {{$value := "_"}} {{$label := "_"}} {{$class := "perm"}}  {{$name := "product"}}
                +inlineradio
                | {{$id := "permproductr"}} {{$value := "r"}} {{$label := "r"}}
                +inlineradio
                | {{$id := "permproductrw"}} {{$value := "w"}} {{$label := "rw"}}
                +inlineradio
            .col-sm-6
                .alert.alert-primary storage
            .col-sm-6
                | {{$id := "permstorage"}} {{$value := "_"}} {{$label := "_"}} {{$class := "perm"}}  {{$name := "storage"}}
                +inlineradio
                | {{$id := "permstorager"}} {{$value := "r"}} {{$label := "r"}}
                +inlineradio
                | {{$id := "permstoragerw"}} {{$value := "w"}} {{$label := "rw"}}
                +inlineradio
        button.btn.btn-primary(type='button', onclick='savePerson()') save changes

block contentjs
    script.
        // form validation
        $( "#person-create" ).validate({
        errorClass: "alert alert-danger",
        rules: {
            email: {
            required: true,
            remote: {
                url: "",
                beforeSend: function(jqXhr, settings) {
                    settings.url = "/validate/person/-1/email/" + $("input#email").val();
                },
            },
            },
        },
        });

        // call ajax on submit
        function savePerson(form) {
            var form = $("#person-create");
            if (!form.valid()) {
                return;
            };

            var email = $("input#email").val();
                selectedpermissions = $(".perm:checked");
                data = {};
                $.each(selectedpermissions, function( index, p ) {
                    data["permissions." + index +".permission_perm_name"] = p.value;
                    data["permissions." + index +".permission_item_name"] = p.name;
                });
                $.extend(data, {
                    "person_email": email,
                });
                console.log(data);
            $.ajax({
                url: "/person",
                method: "POST",
                dataType: 'json',
                data: data,
            }).done(function(data, textStatus, jqXHR) {
                displayMessage("person " + email + " created", "success");
                setTimeout(function(){ window.location = "/v/people"; }, 1000);
            }).fail(function(jqXHR, textStatus, errorThrown) {  
                handleHTTPError(jqXHR.statusText, jqXHR.status)
            }); 
        }