
include ../mixins
block CONTENT
    :go:func
        Personpupdate(c ViewContainer)
    form#personp
        .row.d-flex.flex-row.justify-content-center
            div
                span.mdi.mdi-36px.mdi-lock-reset
        .form-group.row
            div.col.col-sm-4.offset-sm-4
                +inputtext(name="person_password", label="password", type="password")
        .form-group.row
            div.col.col-sm-4.offset-sm-4
                +inputtext(name="person_passwordagain", label="confirm_password", type="password")
        .row.d-flex.flex-row.justify-content-center
            div
                button.btn.btn-link(type='button', onclick='PersonPass_savePersonPassword()')
                    span.mdi.mdi-content-save.mdi-24px.iconlabel
                        = T("save", 1)

block CONTENTJS